# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2026 Marco Fortina <marco_fortina@hotmail.it>

image efi-part.vfat {
    vfat {
        label = "JANUS_EFI"
        extraargs = "-i 4A414E55"
        file EFI {
            image = "efi-part/EFI"
        }
        file bzImage {
            image = "bzImage"
        }
    }
    size = 32M
}

image janusgate-x86_64.img {
    hdimage {
        partition-table-type = "gpt"
        disk-uuid = "6a616e75-7367-4174-8567-6174650000ff"
    }

    partition boot {
        image = "efi-part.vfat"
        partition-type-uuid = U
        partition-uuid = 6a616e75-7367-4174-8567-617465000010
        offset = 1M
        bootable = true
    }

    partition root {
        image = "rootfs.squashfs"
        partition-type-uuid = L
        partition-uuid = 6a616e75-7367-4174-8567-617465000001
        size = 256M
    }

    partition data {
        image = "data.ext4"
        partition-type-uuid = L
        partition-uuid = 6a616e75-7367-4174-8567-617465000002
    }
}
