# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2026 Marco Fortina <marco_fortina@hotmail.it>

set default=0
set timeout=2

menuentry "JanusGate" {
    linux /bzImage \
        root=PARTUUID=6a616e75-7367-4174-8567-617465000001 \
        rootfstype=squashfs rootwait ro \
        console=tty0 console=ttyS0,115200
}
