# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2026 Marco Fortina <marco_fortina@hotmail.it>

image janusgate-aarch64.img {
    hdimage {
        partition-table-type = "gpt"
        disk-uuid = "6a616e75-7367-4174-8567-6174650000fe"
    }

    partition root {
        image = "rootfs.squashfs"
        partition-type-uuid = L
        partition-uuid = 6a616e75-7367-4174-8567-617465000001
        offset = 1M
        size = 256M
    }

    partition data {
        image = "data.ext4"
        partition-type-uuid = L
        partition-uuid = 6a616e75-7367-4174-8567-617465000002
    }
}
